.conteneur-article{
    background-color: #f9f9f9;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -18px;
    position: relative;
}

.stack-top{
    z-index: 9;
}

.article-profil-zone{
    padding: 20px;
    padding: 20px;
    display: flex;
    align-items: end;
}

.image-container-page{
    position: relative;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;  
    overflow: hidden;
}

.profil-picture{
    width: inherit;
    height: inherit;
    border-radius: inherit;

    object-fit: cover;
    object-position: right center;      
}

.titre-article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #191919;
    margin-left: 10px;
    width: 250px;
}
.banner-page-wrapper{
    height: 218px; 
}
.banner-page{
    width: 100%;
    height: inherit;
}

.page-content{
    padding-left:25px ;
    padding-right: 25px;
}

.titre-page-content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.text-content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.col{
    padding-left: 2px;
    padding-right: 2px;
    flex-direction:initial;
}

.illustration{
    vertical-align: middle;
    border-style: none;
    width: inherit;
    height: 100%;
    object-fit: cover;
}