.profil-banner{
    height: 90px;
    background-color: #4B4B4B;
    width: 100%;
}

.profil-zone{
    padding-left:20px ;
    padding-right: 20px;
}

.image-contour{   
    margin-top: -45px;
    background-color: #fff;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    position: relative;margin-left: auto;
    margin-right: auto;
}

.image-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: lawngreen;
    width: 110px;
    height: 110px;
    border-radius: 50%;  
    overflow: hidden;
}


.profil-picture{
    width: inherit;
    height: inherit;
    border-radius: inherit;

    object-fit: cover;
    object-position: right center;  
     
}

.myName{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #191919;
    font-size: 24px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.details{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #696969;
    font-size: 15px;
}

.decription{
    margin: 0;
}

.localisation{
    margin-top: 20px;
    margin-bottom: 20px;
}

.profil-content{
    padding-left: 20px;
    padding-right: 20px ;
}

.myNavItem{
    padding-right: 8px;
    padding-left: 8px;
    font-size: 15px;
    color: #696969;
}

.myProject{
    margin-top: 34px;
}

.coverCard{
    margin-top:20px;
    height: 262px;
    overflow: hidden;
}

.card{
    border:none;
    height: inherit;

}
.cardOverlay{
    margin-top: 150px;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 81%);
    border-radius: 0 0 4px 4px;
}

.card-img{
        
}

.card-title{
    margin-bottom: none;
    vertical-align: bottom;
    padding-right: 70px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 16px;
}
