header{
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.title{
    font-family: futura;
    position: relative;
    font-size: 34px;
}

/* .profil-zone{
    padding-left:20px ;
    padding-right: 20px; 
    margin-top: 30px;
}
 */

.image-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: transparent;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: unset;

}

.profil-picture{
    width: inherit;
    height: inherit;
    border-radius: inherit;

    object-fit: cover;
    object-position: right center;  
     
}

.myName{
    font-family: futura;
    font-weight: bold;
    text-align: center;
    color: #191919;
    margin-top: 17px;
    margin-bottom: 10px;
}



.details{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #696969;
    font-size: 15px;
}

.description-court{
    margin-bottom: 10px;
}

.description-mid{
    font-family: futura;
    font-size: 3.1vw;
    text-align: center;
    color: var(--text-black-color);
}

.localisation{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #696969;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.btnCallToAction {
    width: 230px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 40px;
    box-shadow: 0px 0px 10px #e2e2e2, 0px 10px 20px #e2e2e2;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    position: relative;
    margin-top: 70px;
    margin-bottom: 70px;
}

.btnCallToAction a{
    color: #191919;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}

.profil-content {
    background-color: #f9f9f9;
    padding-top: 30px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}   

.profil-content .card {
    height: 262px;
    max-width: 336px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px!important;
    border: none;
    box-shadow: 0 0 15px #d6d6d6;
    overflow: hidden;
}

.profil-content .titleBoxShadow {
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: left;
    padding: 30px 50px 18px 15px;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 81%);
}

.profil-content .card img{
    align-self: center;
    width: initial;
    height: 100%;
}

.profil-content a {
    font-size: 16px;
    font-weight: bold;
}

.myNavItem{
    padding-right: 8px;
    padding-left: 8px;
    font-size: 15px;
    color: #696969;
}

.myProject{
    margin-top: 34px;

}


@media (min-width: 768px){
    .profil-zone{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 150px;
    }
    .image-container{
        height: 196px;
        width:196px;
    }

    .profil-picture{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .details-wrapper{
        display: flex;
        align-items: center;

    }

    .profil-content{
        background-color: transparent;
    }

    .myNavItem{
        padding-right: 15px;
        padding-left: 15px;
        font-size: 20px;
        color: #191919;
    }
}

@media (max-width: 767px){
    .myName{
        font-size: 24px;
    }
}


@font-face{
    font-family: "futura";
    src: url('/font/Futura Condensed.ttf') format('ttf') ;
}
